$header-color: #1e3554;
$profle-color: #112948;
$inactive-color: #6f8caa;
$active-color: #fff;
$text-color: #1a3150;
$input-background-color: #f5f7f9;
$default-small-text-color: #6f8caa;
$machted-text-color: #00b1ff;
$white: #fff;
$black: #000;
